<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisign.publicsafety.mapper.entrust.EntrustSuspectMapper">
	
	

	<!--  -->
	<select id="queryAll" resultMap="entrustSuspectInfoMap" parameterType="EntrustSuspectInfo">
		select
		<include refid="selectId" />
		from entrust_suspect_info
		<where>
			delete_flag!=<include refid="deleteFlag" />
			<if test="entrustNo != null and entrustNo != ''">
				and entrust_no = #{entrustNo}
			</if>
		</where>
	</select>

	

	<!-- 增加嫌疑人信息
	<insert id="add" parameterType="EntrustSuspectInfo">
		insert into `entrust_suspect_info` (
		<include refid="selectId" />
		)
		values (
			<include refid="insertId" />
		)
	</insert> -->
	<!-- 增加嫌疑人信息 -->
	<insert id="addBatch" parameterType="java.util.List">
		insert into `entrust_suspect_info` (
		<include refid="selectId" />
		)
		values 
		<foreach collection="list" item="item" index="index" separator="," >  
	        (
				<include refid="insertBatchId" />
			)  
	    </foreach>  
	</insert>
<!--
	<delete id="delete" parameterType="String">
		update entrust_suspect_info 
		set delete_flag=<include refid="deleteFlag" /> 
		where entrust_no=#{entrustNo}
	</delete>  -->
	<delete id="delete" parameterType="String">
		delete from entrust_suspect_info 
		where entrust_no=#{entrustNo}
	</delete>
<!--
	<select id="getById" parameterType="String" resultMap="entrustSuspectInfoMap">
		select
		<include refid="selectId" />
		from entrust_suspect_info where 
			delete_flag!=<include refid="deleteFlag" />
			and entrust_no=#{entrustNo} limit 1
	</select>  -->

<!--
	<update id="update" parameterType="EntrustSuspectInfo">
		update entrust_suspect_info
		<set>
			<include refid="updateId" />	
		</set>
		where entrust_no=#{entrustNo} and delete_flag!=<include refid="deleteFlag" />
	</update>
  -->
	
</mapper>