<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

    <typeHandlers>
	    <typeHandler handler="com.hisign.publicsafety.db.handler.CustomDateStrHandler"
	        javaType="String" jdbcType="TIMESTAMP" />
	</typeHandlers>

    
	<mappers>
		<mapper resource="mappings/commSql.xml" />
	</mappers>
    
</configuration>

